Repository oda-hub/dispatcher-app, pull requests merged in 2021-12, with the labels that each got.

#291 raise InternalError during get_query_products errors
  cdci_data_analysis/analysis/queries.py
  cdci_data_analysis/plugins/dummy_instrument/data_server_dispatcher.py
  cdci_data_analysis/plugins/dummy_instrument/empty_instrument.py
  cdci_data_analysis/pytest_fixtures.py
  tests/test_server_basic.py
Labels: enhancement, test-plugins

#299 "jobs manager" => "job manager"
  cdci_data_analysis/flask_app/dispatcher_query.py
  tests/test_job_management.py
Labels: test-plugins

#296 catch wrong input format
  cdci_data_analysis/analysis/instrument.py
  cdci_data_analysis/flask_app/dispatcher_query.py
  cdci_data_analysis/pytest_fixtures.py
  tests/test_job_management.py
  tests/test_server_basic.py
Labels: enhancement, test-plugins

#309 sentry message invalid usage run_analysis
  cdci_data_analysis/flask_app/app.py
Labels: enhancement, test-plugins

#310 test oda-api
  .github/workflows/python-oda-api.yml
Labels: test-plugins, test-oda-api
