Repository oda-hub/dispatcher-app, pull requests merged in 2022-12, with the labels that each got.

#473 searching the token from the api_code and using it in the output link
  cdci_data_analysis/analysis/renku_helper.py
  cdci_data_analysis/analysis/tokenHelper.py
  cdci_data_analysis/flask_app/app.py
  tests/test_server_basic.py
Labels: test-plugins, test-oda-api, smartsky

#480 including os library and stop force pushing
  cdci_data_analysis/analysis/renku_helper.py
  tests/test_server_basic.py
Labels: test-plugins, test-oda-api, smartsky

#483 allow catalog_selected_objects argument
  cdci_data_analysis/analysis/instrument.py
  tests/test_server_basic.py
Labels: bug, hotfix, test-plugins, test-oda-api

#485 get_revs enpoint, test, dev gallery endpoint
  cdci_data_analysis/analysis/drupal_helper.py
  cdci_data_analysis/flask_app/app.py
  cdci_data_analysis/pytest_fixtures.py
  tests/test_server_basic.py
Labels: product-gallery, test-plugins, test-oda-api

#487 including sentry for renku integration
  cdci_data_analysis/analysis/renku_helper.py
  cdci_data_analysis/flask_app/app.py
Labels: hotfix, test-plugins, test-oda-api

#489 freezing nbformat version
  cdci_data_analysis/analysis/renku_helper.py
Labels: test-plugins, test-oda-api, smartsky

#495 More sentry when pushing on renku branch
  cdci_data_analysis/analysis/renku_helper.py
  cdci_data_analysis/flask_app/app.py
Labels: test-plugins, test-oda-api, smartsky

#498 using bool instead of the deprecated numpy type
  cdci_data_analysis/analysis/catalog.py
  cdci_data_analysis/analysis/parameters.py
  cdci_data_analysis/analysis/products.py
  cdci_data_analysis/plugins/dummy_plugin/instr_catalog.py
Labels: test-plugins, test-oda-api

#496 reformatting code for inspect state and adapted test, free_up space …
  cdci_data_analysis/analysis/catalog.py
  cdci_data_analysis/analysis/io_helper.py
  cdci_data_analysis/config_dir/conf_env.yml.example
  cdci_data_analysis/configurer.py
  cdci_data_analysis/flask_app/app.py
  cdci_data_analysis/flask_app/dispatcher_query.py
  cdci_data_analysis/pytest_fixtures.py
  tests/test_job_management.py
Labels: test-plugins, test-oda-api
