Repository oda-hub/dispatcher-app, pull requests merged in 2022-02, with the labels that each got.

#340 add wheels
  .github/workflows/python-oda-api.yml
  .github/workflows/python-plugins.yml
Labels: test-plugins, test-oda-api

#335 Improve support for Parameter units/format/type
  .github/workflows/python-app.yml
  .github/workflows/python-oda-api.yml
  .github/workflows/python-plugins.yml
  .gitignore
  cdci_data_analysis/analysis/instrument.py
  cdci_data_analysis/analysis/parameters.py
  cdci_data_analysis/plugins/dummy_instrument/data_server_dispatcher.py
  cdci_data_analysis/plugins/dummy_instrument/empty_instrument.py
  tests/test_server_basic.py
  tests/test_unit.py
Labels: test-plugins, test-oda-api

#356 Optional job id and session
  cdci_data_analysis/analysis/drupal_helper.py
  cdci_data_analysis/flask_app/dispatcher_query.py
  tests/test_server_basic.py
Labels: product-gallery

#358 Instrument data product type bug
  cdci_data_analysis/analysis/drupal_helper.py
  tests/test_server_basic.py
Labels: bug, product-gallery

#349 endpoint to push in a new renku branch
  .github/workflows/python-app.yml
  cdci_data_analysis/analysis/renku_helper.py
  cdci_data_analysis/configurer.py
  cdci_data_analysis/flask_app/app.py
  cdci_data_analysis/pytest_fixtures.py
  pytest.ini
  requirements.txt
  setup.py
  tests/conftest.py
  tests/test_server_basic.py
Labels: test-plugins, test-oda-api

#362 check also t1 and t2 are not none in case observation id is not provided
  cdci_data_analysis/analysis/drupal_helper.py
Labels: bug, product-gallery

#363 More test observation product
  cdci_data_analysis/analysis/drupal_helper.py
  tests/test_server_basic.py
Labels: product-gallery

#364 Update Flask. Fix plot legend=None issue. Test plugins: add more + better install
  .github/workflows/python-plugins.yml
  cdci_data_analysis/analysis/plot_tools.py
  cdci_data_analysis/flask_app/dispatcher_query.py
  requirements.txt
  setup.py
Labels: test-plugins, test-oda-api
